################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Laundry1902/FileContentIndex/1bc4f5b0-4a81-4e90-93fd-d047d97d20b1.vsidx
/.vs/Laundry1902/FileContentIndex/1bc4f5b0-4a81-4e90-93fd-d047d97d20b1.vsidx
*.vsidx
/LaundryWPF/appsettings.json
/.vs/Laundry1902/v17/DocumentLayout.json
/.vs/Laundry1902/v17/DocumentLayout.backup.json
/.vs/Laundry1902/v17/.suo
