# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
LaundryWPF/appsettings.json
# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Tt]emp/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Packages
*.nupkg
packages/
*.snupkg

# Publish
*.Publish.xml
*.pubxml
*.pubxml.user

# Resharper / Rider
_ReSharper*/
*.DotSettings.user

# Others
*.dbmdl
*.bak
*.log
*.cache
*.tmp
*.local
appsettings.Development.json

# Node (nếu có frontend)
node_modules/
wwwroot/lib/
wwwroot/dist/
